/* ------------------- popup Styles -------------------- */
.popup-start {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__body {
    width: 100%;
    max-width: 720px;
    color: #111;
    background-color: #fff;
    letter-spacing: 0.96px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
  }

  &__close {
    cursor: pointer;
    background: none;
    background-color: none;
    outline: none;
    border: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgOSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxnIGlkPSIxOWIzODNjNSIgY2xpcC1wYXRoPSJ1cmwoIzhiNDJhNzJhKSI+CiAgICA8ZyBpZD0iNzAxZDZmZDQiPgogICAgICA8ZyBpZD0iMzY2YzY2OGEiPgogICAgICAgIDxwYXRoIGlkPSI1NDZiMzBmZiIgZD0iTTguODU4NTcgMC42ODE0MjlMOC4xNzcxNCAwTDQuNDM1NzEgMy43NTQyOUwwLjY4MTQyOSAwTDAgMC42ODE0MjlMMy43NTQyOSA0LjQzNTcxTDAgOC4xNzcxNEwwLjY4MTQyOSA4Ljg1ODU3TDQuNDM1NzEgNS4xMTcxNEw4LjE3NzE0IDguODU4NTdMOC44NTg1NyA4LjE3NzE0TDUuMTE3MTQgNC40MzU3MUw4Ljg1ODU3IDAuNjgxNDI5WiIgZmlsbD0iIzExMTExMSI+PC9wYXRoPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgogIDxkZWZzPgogICAgPGNsaXBQYXRoIGlkPSI4YjQyYTcyYSI+CiAgICAgIDxyZWN0IHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9IndoaXRlIj48L3JlY3Q+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+")
      no-repeat center;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__btns {
    padding-top: 25px;
  }

  &__btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    background-color: none;
    border-radius: 0;
    color: #111;
    outline: none;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 8px 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background: #111111;
      transition: all 0.4s;
      transform: scale(0);
    }

    &:hover::before {
      transform: scale(1);
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

/* ------------------- cookie-popup Styles -------------------- */
.cookie-popup {
  &__overlay {
    padding-bottom: 50px !important;
  }

  &__body {
    width: 100%;
    max-width: 720px;
    padding: 20px 40px !important;
    align-self: flex-end;
  }
}

/* ------------------- Subscribe -------------------- */
.subscribe {
  &__body {
    width: 100%;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__content {
    background-color: #fff;
    padding: 40px;
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__descr {
    margin-bottom: 100px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btns {
    padding-top: 0 !important;
  }
}

// form
.subscribe-form {
  &__group {
    margin-bottom: 40px;
  }

  &__input {
    height: 49px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #111;
    color: #111;
    font-style: normal;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;

    &:focus {
      font-style: normal;
    }

    &::placeholder {
      color: #111;
      font-weight: 300;
      font-style: italic;
    }
  }

  &__btn {
    cursor: pointer;
    border-bottom: 1px solid #111;
    transition: all 0.4s;
    position: relative;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

/* ------------------- Media -------------------- */
@media (max-width: 600px) {
  .subscribe__body {
    grid-template-columns: 1fr;
  }

  .subscribe__body {
    max-height: 90%;
    overflow: auto;
  }

  .subscribe__content {
    min-height: 90%;
    padding: 30px;
    justify-content: inherit;
  }

  .subscribe__title {
    margin-bottom: 20px;
  }

  .subscribe__descr {
    margin-bottom: 30px;
  }

  .subscribe__image {
    height: 240px;
    order: -1;
  }

  .subscribe-form__group {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .cookie-popup {
    &__overlay {
      padding-bottom: 20px !important;
    }

    &__body {
      padding: 25px !important;
    }
  }
}

@media (max-width: 375px) {
  .subscribe__image {
    height: 200px;
  }
}
